:root{
    --primaryColor:#fe206e;
    --mainFont:"Open Sans", sans-serif;
}
.text__primary{
    color: var(--primaryColor);
}
body{
    font-family: var(--mainFont);
}
.about,.Portfolio{
    background-image: url(./imgs/light_dot.jpg);
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--primaryColor)
}
.nav-link {
    color: black;
}
.Portfolio .nav-tabs .nav-link,.Portfolio .nav-tabs {
border: none;
}
