:root{
    --primaryColor:#fe206e;
    --mainFont:"Open Sans", sans-serif;
}
.text__primary{
    color: var(--primaryColor);
}
body{
    font-family: var(--mainFont);
}
.about,.Portfolio{
    background-image: url(./imgs/light_dot.jpg);
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--primaryColor)
}
.navbar .navbar-nav .nav-link {
    color: white;
}
.navbar-expand-lg .navbar-nav .nav-link{
color: white;
}
.Portfolio .nav-tabs .nav-link,.Portfolio .nav-tabs {
border: none;
}
.black{
    background-color: black;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
    color: var(--primaryColor);
}
.hero{
    background-image: url('./imgs/bg.jpg');
    background-size: cover;
}